{% capture author_info %}
<div class="author">
 {% if site.author_thumbnail && site.author_thumbnail != '' %}
  <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
    <img 
      src="{{ site.author_thumbnail | prepend: site.baseurl | prepend: site.url }}"
      alt="{{ site.title }}" width="60" height="60" />
  </a>
  {% endif %}
  <h5>Author</h4>
  <h6>
    <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
      {{ site.author }}
    </a>
  </h5>
  <p>
    Find me on
   
        <a title="{{ site.social.twitter }} on Twitter" 
            href="https://twitter.com/{{ site.social.twitter }}" 
            class="twitter" target="_blank">Twitter</a>
    
   
        /
        <a title="{{ site.social.facebook }} on Facebook" 
            href="https://facebook.com/{{ site.social.facebook }}" 
            class="facebook" target="_blank">Facebook</a>
    
    
        /
        <a title="{{ site.social.gplus }} on Google Plus" 
            href="https://plus.google.com/{{ site.social.gplus }}" 
            class="google" target="_blank">Google</a>
    
  </p>
</div>
{% endcapture %}{{ author_info | strip_newlines }}
