{% capture share_button %}
<div class="share-buttons">
  <h5>Share this post on</h5>
  <ul class="social-media">
    <li>
        <a title="{{ site.theme.social.twitter }} on Twitter" 
          href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&amp;text={{page.title}}&amp;url={{site.url}}{{page.url}}" class="twitter wc-img-replace"
           onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
          Twitter
        </a>
    </li>   
    <li>
        <a title="{{ site.theme.social.gplus }} on Google Plus" 
            href="https://plus.google.com/share?url={{site.url}}{{page.url}}" 
            class="google wc-img-replace"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">Google</a>
    </li>
    <li>
     <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Facebook" >
            <i class="fa fa-facebook-official share-button"></i></a>
    </li>
    <li>
        <a title="{{ site.theme.social.facebook }} on Facebook" 
            href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&amp;t={{page.title}}" 
            class="facebook wc-img-replace"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">Facebook</a>
    </li>
  </ul>
</div>
{% endcapture %}{{ share_button | strip_newlines }}
